<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>
    <h1>Employee List</h1>
    <a href="{% url 'add-employee' %}">Add New Employee</a>
    <table  border="1">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Check-in Time</th>
                <th>Check-out Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employee_data %}
            <tr>
                <td>{{ employee.username }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.checkin_time|default:"Not Checked In" }}</td>
                <td>{{ employee.checkout_time|default:"Not Checked Out" }}</td>
                <td>
                    <a href="{% url 'edit-employee' employee.id %}">Edit</a>
                    <a href="{% url 'employee-detail' employee.id %}">View Details</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No employees found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
